@use "../../assets/scss/variables.scss" as variables;
@use "../../assets/scss/viewport.scss" as viewport;

.panel{
    border-top-left-radius: variables.$border-radius-2;
    border-bottom-left-radius: variables.$border-radius-1;
    background: variables.$pure-white;
 

    

    z-index: variables.$z-index-2;
    &__header{
        &__line{
            max-width: 2rem;
            max-height: 1.5rem;
        }
        background: variables.$dark-gray;
        color: variables.$pure-white;
        border-top-left-radius: variables.$border-radius-1;
        border-top-left-radius: variables.$border-radius-1;
    }

    &__photo{
     >img{
        max-height: 15rem;
        border-radius: variables.$border-radius-1;
     }   
    }

    &__body{
        // border: 1px solid #ccc;
        max-height: 40dvh;
        overflow-y: auto;
        @include viewport.custom-media-breakpoint-down(md){
            max-height: 30dvh;
        }
    }

    &__footer{
        // border: 1px solid #ccc;
    }

 
      
}