@use "./variables" as variables;

// ---- inputs ----

input[type="checkbox"] {
    cursor: pointer;
}
  
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="switch"]:focus,
input[type="email"]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: variables.$pure-gray;
}
  
input[type="checkbox"].form-check-input {
    border-color: variables.$pure-gray;

    &:checked {
        border-color: variables.$pure-gray;
    }
  }
  
input[type="text"],
input[type="username"],
input[type="password"],
input[type="number"],
input[type="email"]{
    border-radius: variables.$border-radius-1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding: 0.275rem 0.75rem;
}
  
::placeholder{
    font-size: 12px!important;
    letter-spacing: 0.156px;
    color: variables.$pure-gray;
}

textarea:focus,
textarea:active,
textarea:hover {
    box-shadow: none !important;
}


//scrollbar
::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid transparent; /* per spaziatura interna */
    background-clip: padding-box;
}
