@use "./variables.scss" as variables;


// img sizes
.l-img{
    max-width: 8.5rem;
    max-height: 8.5rem;
}

.m-img{
    max-width: 5.5rem;
    max-height: 5.5rem;
}

.s-img{
    max-width: 3.5rem;
    max-height: 3.5rem;
}

.xs-img{
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.xxs-img{
    max-width: 1rem;
    max-height: 1rem;
}



// Font Size
.font-size-8{
    font-size: 8px;
}
.font-size-10{
    font-size: 10px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-26{
    font-size: 26px;
}

.font-size-30{
    font-size: 30px;
}



// box shadows
.box-shadow{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-start{
    box-shadow: -7px 0 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-end{
    box-shadow: 7px 0 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-top{
    box-shadow: 0 -7px 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-bottom{
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}


// disabled elements
.disabled-element {
    pointer-events: none !important;
    opacity: 0.4 !important;
    // background-color: variables.$pure-gray !important;
}


// image fade effect and loader
.fade-in {
    opacity: 0;
    transition: opacity 0.4s ease;
}
.fade-in.loaded {
    opacity: 1;
}


// load overrlay
.loader-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: variables.$pure-white;
    z-index: 1;
    pointer-events: none;
}
img.loaded + .loader-overlay {
    display: none;
}

// text styles
.vertical-text {
    writing-mode: vertical-rl; 
    text-orientation: upright;
}
.vertical-text-reverse {
    writing-mode: vertical-rl; 
    text-orientation: upright;
    transform: rotate(180deg);
}
.vertical-text-reverse-rtl {
    writing-mode: vertical-rl; 
    text-orientation: upright;
    transform: rotate(180deg);
    direction: rtl;
}

.diagonal-text {
    transform: rotate(-25deg);
    transform-origin: left top;
    display: inline-block;
}

// cursors styles
.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-grabbing {
    cursor: grabbing;
}

.cursor-grab {
    cursor: grab;
}

.cursor-move {
    cursor: move;
}

.cursor-text {
    cursor: text;
}

.cursor-crosshair {
    cursor: crosshair;
}