@use '../../assets/scss/variables.scss' as variables;

.suggestions{
    z-index: variables.$z-index-1;
    left: 0;
    top: 118%;
    border-bottom-left-radius: variables.$border-radius-1;
    border-bottom-right-radius: variables.$border-radius-1;
    max-height: 10rem;
    overflow-y: auto;

    &__option{
        cursor: pointer;
        &:hover{
            background: variables.$dark-gray;
            color: variables.$pure-white;
        }
    }
}