@use "../../assets/scss/variables.scss" as variables;
@use "../../assets/scss/viewport.scss" as viewport;

.dashboard{
    height: 100dvh;

    &__header{
        top: 1rem;
        z-index: 100;
        >img {
            max-width: 5.5rem;
            max-height: 3.5rem;
            @include viewport.custom-media-breakpoint-down(md){
                max-width: 2.5rem;
                max-height: 1.5rem;
            }
        }
    }

    &__panel{
        background: variables.$pure-brown;
        z-index: variables.$z-index-2;


    }

    &__graph{
        // border: 2px solid #ccc;
    }
}